<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<!--   
<test name="Sign In - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.SignIn"> </class> 
    </classes>
</test> 

<test name="Sign Up - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.SignUp"> </class>  
    </classes>
</test> 

<test name="Shopping List - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.ShoppingLists"> </class> 
    </classes>
</test> 

<test name="Header Footer Navigation - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.HeaderFooterNavigation"> </class> 
    </classes>
</test> 
  -->   	
<test name="Coupons - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.Coupons"> </class> 
    </classes>
</test>
<!--
<test name="My Account- Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.MyAccount"> </class> 
    </classes>
</test>


<test name="Find a Store - Testing">
    <classes> 
    	<class name="com.test.regression.cub.testscripts.FindAStore"> </class> 
    </classes>
</test>
 -->
</suite> 
